* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Styling */
html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
  background-color: #f6f6f7;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
  color: #ff6b82;
  text-align: center;
}

.container {
  margin: auto;
  max-width: 581px;
  overflow: auto;
  padding: 20px 20px;
  background-color: #fff;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-card {
  height: 74px;
  width: 342px;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 15px;
  display: flex;
  overflow: hidden;
}

.small-card-left {
  width: 20%;
  height: inherit;
  background-color: #ff6b82;
  color: white;
  font-weight: bolder;
  font-size: larger;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 2.5px dotted white;
}

.small-card-right {
  width: 80%;
  height: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: left;
}

.info {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.info span {
  font-weight: bold;
}

.text {
  margin-top: -6px;
}

/* Hide the default radio button */
.custom-radio input[type="radio"] {
  display: none;
}

.tag {
  color: #ff6b82;
}

.card {
  margin-bottom: 20px;
}

.big-card {
  height: inherit;
  width: 342px;
  border: 1px #ff6b82 solid;
  border-radius: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.total {
  width: 342px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  color: #ff6b82;
  margin-bottom: 20px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: 342px;
  padding: 12px;
  background-color: #ff6b82;
  /* Background color */
  border: none;
  /* Removes the border */
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: white;
  font-size: larger;
}

button:hover {
  background-color: #ff4a61;
  /* Darker shade for hover effect */
}

.poweredby {
  font-size: smaller;
  display: flex;
  justify-content: center;
  align-items: center;
}

.big-card-price {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.big-card-input {
  margin-top: 20px;
}

.dropdown-container {
  display: flex;
  gap: 10px;
  /* Space between dropdowns */
  align-items: center;
  justify-content: right;
  margin-right: 30px;
  margin-bottom: 10px;
  /* Align items vertically center */
}

/* Style dropdowns if needed */
select {
  padding: 10px;
  font-size: 16px;
}